./gene_annotation/proteins.uniprot.fa filter=lfs diff=lfs merge=lfs -text
./chip_seq/ref/danRer10.bwa.index/danRer10.bwa.bwt filter=lfs diff=lfs merge=lfs -text
./chip_seq/ref/danRer10.dna_sm.toplevel.fa filter=lfs diff=lfs merge=lfs -text
./chip_seq/reads/sox2_chip.fastq.gz filter=lfs diff=lfs merge=lfs -text
./chip_seq/reads/input.fastq.gz filter=lfs diff=lfs merge=lfs -text
./chip_seq/bwa/input.sorted.bam filter=lfs diff=lfs merge=lfs -text
./chip_seq/cutadapt/trimmed/input.trimmed.fq.gz filter=lfs diff=lfs merge=lfs -text
./chip_seq/macs2/sox2_chip_treat_pileup.bdg filter=lfs diff=lfs merge=lfs -text
./chip_seq/macs2/sox2_chip_control_lambda.bdg filter=lfs diff=lfs merge=lfs -text
./rnaseq/ref/ref.fa.gz filter=lfs diff=lfs merge=lfs -text
./rnaseq/ref/ref.gtf filter=lfs diff=lfs merge=lfs -text
./rnaseq/fastq/SRR1048063_2.fastq.gz filter=lfs diff=lfs merge=lfs -text
./rnaseq/fastq/SRR1048060_2.fastq.gz filter=lfs diff=lfs merge=lfs -text
./rnaseq/fastq/SRR1048059_1.fastq.gz filter=lfs diff=lfs merge=lfs -text
./rnaseq/fastq/SRR1048061_2.fastq.gz filter=lfs diff=lfs merge=lfs -text
./rnaseq/fastq/SRR1048061_1.fastq.gz filter=lfs diff=lfs merge=lfs -text
./rnaseq/fastq/SRR1048062_1.fastq.gz filter=lfs diff=lfs merge=lfs -text
./rnaseq/fastq/SRR1048062_2.fastq.gz filter=lfs diff=lfs merge=lfs -text
./rnaseq/fastq/SRR1048059_2.fastq.gz filter=lfs diff=lfs merge=lfs -text
./rnaseq/fastq/SRR1048060_1.fastq.gz filter=lfs diff=lfs merge=lfs -text
./rnaseq/fastq/SRR1048063_1.fastq.gz filter=lfs diff=lfs merge=lfs -text
./Methylation/SimulatedData_PreAnalysed/oxbs_sim_1000000_0.25_1_val_1_bismark_bt2_pe.bam filter=lfs diff=lfs merge=lfs -text
./Methylation/SimulatedData_PreAnalysed/oxbs_sim_1000000_0.25_1_val_1_bismark_bt2_pe.deduplicated.bam filter=lfs diff=lfs merge=lfs -text
./Methylation/SimulatedData_PreAnalysed/mkbs_sim_1000000_0.25_1_val_1_bismark_bt2_pe.srtd.bam filter=lfs diff=lfs merge=lfs -text
./Methylation/SimulatedData_PreAnalysed/mkbs_sim_1000000_0.25_1_val_1_bismark_bt2_pe.deduplicated.bam filter=lfs diff=lfs merge=lfs -text
./Methylation/SimulatedData_PreAnalysed/oxbs_sim_1000000_0.25_1_val_1_bismark_bt2_pe.srtd.bam filter=lfs diff=lfs merge=lfs -text
./Methylation/SimulatedData_PreAnalysed/mkbs_sim_1000000_0.25_1_val_1_bismark_bt2_pe.bam filter=lfs diff=lfs merge=lfs -text
./chip_seq_precomputed/ref/danRer10.bwa.index/danRer10.bwa.bwt filter=lfs diff=lfs merge=lfs -text
./chip_seq_precomputed/ref/danRer10.dna_sm.toplevel.fa filter=lfs diff=lfs merge=lfs -text
./chip_seq_precomputed/reads/sox2_chip.fastq.gz filter=lfs diff=lfs merge=lfs -text
./chip_seq_precomputed/reads/input.fastq.gz filter=lfs diff=lfs merge=lfs -text
./chip_seq_precomputed/bwa/input.sorted.bam filter=lfs diff=lfs merge=lfs -text
./chip_seq_precomputed/bwa/sox2_chip.sorted.bam filter=lfs diff=lfs merge=lfs -text
./chip_seq_precomputed/cutadapt/trimmed/sox2_chip.trimmed.fq.gz filter=lfs diff=lfs merge=lfs -text
./chip_seq_precomputed/cutadapt/trimmed/input.trimmed.fq.gz filter=lfs diff=lfs merge=lfs -text
./chip_seq_precomputed/macs2/sox2_chip_treat_pileup.bdg filter=lfs diff=lfs merge=lfs -text
./chip_seq_precomputed/macs2/sox2_chip_control_lambda.bdg filter=lfs diff=lfs merge=lfs -text
./chip_seq_precomputed/macs2/sox2_chip_FE.bdg filter=lfs diff=lfs merge=lfs -text
./Day6_NGS_Biomedicine_Sophia/resources/1000G_phase1.indels.hg19.vcf filter=lfs diff=lfs merge=lfs -text
./Day6_NGS_Biomedicine_Sophia/resources/Mills_and_1000G_gold_standard.indels.hg19.vcf filter=lfs diff=lfs merge=lfs -text
./Day6_NGS_Biomedicine_Sophia/resources/human37.fa filter=lfs diff=lfs merge=lfs -text
./Day6_NGS_Biomedicine_Sophia/tools/SNPEFF/data/GRCh37.65/snpEffectPredictor.bin filter=lfs diff=lfs merge=lfs -text
./SK_atlas/sk/sk filter=lfs diff=lfs merge=lfs -text
13 filter=lfs diff=lfs merge=lfs -text
(0)/sk filter=lfs diff=lfs merge=lfs -text
13 filter=lfs diff=lfs merge=lfs -text
(0).tar filter=lfs diff=lfs merge=lfs -text
1000G_phase1.indels.hg19.vcf filter=lfs diff=lfs merge=lfs -text
human37.fa filter=lfs diff=lfs merge=lfs -text
proteins.uniprot.fa filter=lfs diff=lfs merge=lfs -text
sox2_chip.fastq.gz filter=lfs diff=lfs merge=lfs -text
SRR1048063_1.fastq.gz filter=lfs diff=lfs merge=lfs -text
oxbs_sim_1000000_0.25_1_val_1_bismark_bt2_pe.bam filter=lfs diff=lfs merge=lfs -text
oxbs_sim_1000000_0.25_1_val_1_bismark_bt2_pe.deduplicated.bam filter=lfs diff=lfs merge=lfs -text
mkbs_sim_1000000_0.25_1_val_1_bismark_bt2_pe.deduplicated.bam filter=lfs diff=lfs merge=lfs -text
oxbs_sim_1000000_0.25_1_val_1_bismark_bt2_pe.srtd.bam filter=lfs diff=lfs merge=lfs -text
mkbs_sim_1000000_0.25_1_val_1_bismark_bt2_pe.bam filter=lfs diff=lfs merge=lfs -text
sox2_chip.fastq.gz filter=lfs diff=lfs merge=lfs -text
sox2_chip.sorted.bam filter=lfs diff=lfs merge=lfs -text
sox2_chip.trimmed.fq.gz filter=lfs diff=lfs merge=lfs -text
sox2_chip_FE.bdg filter=lfs diff=lfs merge=lfs -text
sk filter=lfs diff=lfs merge=lfs -text
human37.fa.gz filter=lfs diff=lfs merge=lfs -text
