[submodule "bin"]
	path = src/bin
	url = https://github.com/lpryszcz/bin.git
[submodule "redundans"]
	path = src/redundans
	url = https://github.com/lpryszcz/redundans.git
[submodule "Bismark"]
	path = src/Bismark
	url = https://github.com/FelixKrueger/Bismark.git
[submodule "convector"]
	path = src/convector
	url = https://github.com/parseq/convector.git
[submodule "trinityrnaseq"]
	path = src/trinityrnaseq
	url = https://github.com/trinityrnaseq/trinityrnaseq.git
[submodule "TransDecoder"]
	path = src/TransDecoder
	url = https://github.com/TransDecoder/TransDecoder.git
